<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
	<title>双向绑定数据</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
</head>
<body ng-app="">
	<div class="firstCtr" ng-controller="firstCtr">
		<input type="text" ng-model="name" value="" />{{name}}<input type="text" ng-model="name" value />
	</div>
	
	<script type="text/javascript" src="../js//jquery.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/ctr.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>